@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<hr />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
	<div class="form-group">
    	<button type="submit" class="btn btn-success btn-block">Submit</button>
	</div>
	<p>
		<a asp-page="./Login">Already have an account?</a>
	</p>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
