@page
@model LoginModel

@{
	ViewData["Title"] = "Sign in";
}
@inject IOptions<ConfigModel> Options

<h2>@ViewData["Title"]</h2>
		<section>
			<form method="post">
				<hr />
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Input.Email"></label>
					<input asp-for="Input.Email" class="form-control" />
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Input.Password"></label>
					<input asp-for="Input.Password" class="form-control" />
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-group" style="display: flex; align-items: center;">
					<div class="checkbox">
						<label asp-for="Input.RememberMe">
							<input asp-for="Input.RememberMe" />
							@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
					</div>
					<div style="flex: 1;"></div>
					<a asp-page="./ForgotPassword">Forgot your password?</a>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success btn-block">Log in</button>
				</div>
				<div class="form-group">
					@if (Options.Value.AllowRegistration)
					{
						<p>
							<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
						</p>
					}
				</div>
			</form>
		</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
